[mysqld]
# サーバー側の文字コード設定
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

# 以前のMySQLクライアントとの互換性を保つための設定（必要に応じて）
skip-character-set-client-handshake

[client]
# クライアント側のデフォルト文字コード設定
default-character-set = utf8mb4

[mysql]
# mysqlコマンド（CLI）のデフォルト文字コード設定
default-character-set = utf8mb4